body {
    height: 220px;
    background-color: red;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, yellow, palegreen);
}

.container-body{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}